<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Nueva carga masiva</h1>

  <form class="contents" enctype="multipart/form-data" action="/bulk_uploads" accept-charset="UTF-8" method="post">
      <div class="my-5">
        <label>Selecciona varios archivos xml</label>
        <input name="bulk_upload[files][]" type="hidden" value="" autocomplete="off"><input multiple="multiple" type="file" name="bulk_upload[files][]" id="bulk_upload_files">
      </div>

      <div class="inline">
        <input type="submit" name="commit" value="Cargar" class="rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" data-disable-with="Cargar">
      </div>
  </form>

  <%= link_to 'Regresar a invoices', invoices_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
