<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="bg-gray-800">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <div class="relative flex items-center justify-between h-16">

      <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex-shrink-0 flex items-center">
        </div>
        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <span class="text-white">KREDI</span>

            <%= link_to 'Invoices', invoices_path, class: "text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium" %>

          </div>
        </div>
      </div>

    </div>
  </div>

</nav>
